* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #eaeaea;
    background-image: url('../img/mountains.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-top: 100px;
}

.container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

.wrapper {
    border: 2px solid #eaeaea;
    background-color: #1b1b1b;
    box-shadow: 0 0 40px 10px #1b1b1b;
    border-radius: 12px;
    padding: 24px;
}

.card {

    display: flex;
    grid-gap: 24px;
}

.card-avatar {
    display: flex;
    align-items: center;
    justify-content: center;

}

.card-avatar-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
}

.card-avatar-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding: 20px;
    animation: pulsar 3s linear infinite;
}

.card-info {}

.card-info-wrapper {}

.card-info-specialization {
    font-style: italic;
    text-align: center;
}

.card-info-name {}

.card-info-about_us {}

.card-info-link {
    color: #eaeaea;
    text-decoration: none;
    border-radius: 20px;
    background-color: #231e1b;
    width: 40px;
    height: 40px;
    font-size: 18px;
    font-weight: 700;
}

.social {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 24px;
}

.social-link {
    text-decoration: none;
    box-shadow: 0 0 5px 0 #eaeaea;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s linear;
    animation: pulsar 3s linear infinite;
}
.social-link:hover {
    transform: scale(1.1);
}

body.light {
    color: #1b1b1b;
}

body.light .wrapper {
    border-color: #eaeaea;
    background-color: #eaeaea;
}

body.light .card-avatar-img {
    animation: pulsarLight 3s linear infinite;
}

body.light .card-info-link:hover {
    background-color: #1b1b1b;
    color: #eaeaea;
}

body.light .social-link {
    box-shadow: 0 0 5px 0 #1b1b1b;
    animation: pulsarLight 3s linear infinite;
}

@keyframes pulsar {
    0% {
        box-shadow: 0 0 5px 2px #eaeaea;
    }

    25% {
        box-shadow: 0 0 10px 2px #eaeaea;
    }

    50% {
        box-shadow: 0 0 5px 2px #eaeaea;
    }

    75% {
        box-shadow: 0 0 10px 2px #eaeaea;
    }

    100% {
        box-shadow: 0 0 5px 2px #eaeaea;
    }
}

@keyframes pulsarLight {
    0% {
        box-shadow: 0 0 5px 2px #1b1b1b;
    }

    25% {
        box-shadow: 0 0 10px 2px #1b1b1b;
    }

    50% {
        box-shadow: 0 0 5px 2px #1b1b1b;
    }

    75% {
        box-shadow: 0 0 10px 2px #1b1b1b;
    }

    100% {
        box-shadow: 0 0 5px 2px #1b1b1b;
    }
}